.SignInName {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 8px;
}
.inputWrap {
  position: relative;
  margin-bottom: 32px;
}
.SignInLabel {
  display: block;
}
.SignInLabel:first-child {
  margin-bottom: 16px;
}
.SignInInput {
  display: block;
  width: 100%;
  padding: 16px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(47, 47, 47, 0.2);
  color: var(--color-font-main);
  border-radius: 15px;
}

.SignInInput:focus {
  border: 1px solid green;
}

.SignInInput.error {
  border: 1px solid red;
}

.SignInInput::placeholder {
  color: rgba(47, 47, 47, 0.6);
}

.SignInError {
  margin-top: 3px;
  font-size: 12px;
  color: red;
}
.SignInCheckbox {
  position: absolute;
  top: 15px;
  right: 5px;
}

.SignInBtn {
  border-radius: 30px;
  margin-bottom: 16px;
  padding: 16px;
  width: 100%;
  background-color: var(--color-second-bg);
  border-color: transparent;
  color: var(--color-font-main);
}

.SignInBtn:disabled {
  color: var(--color-main-bg);
  background-color: rgb(170, 195, 170);
  cursor: auto;
}

.SignInBtnText {
  font-weight: 700;
  line-height: 1.3;
}

.SignInText {
  display: flex;
  gap: 5px;
  color: rgba(47, 47, 47, 0.5);
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.SignInText:first-child {
  margin-bottom: 40px;
}

.SignInLink {
  font-weight: 700;
  text-decoration: underline;
  color: var(--color-font-second);
}

@media screen and (min-width: 768px) {
  .SignInName {
    font-size: 16px;
    line-height: 1.5;
  }
  .SignInLabel:first-child {
    margin-bottom: 20px;
  }
  .SignInInput::placeholder {
    font-size: 16px;
  }
  .SignInText {
    font-size: 16px;
  }
}
